<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558295029611-4h59dqvucjgon6ovnrnppqen3hien86j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558295029611-4h59dqvucjgon6ovnrnppqen3hien86j</string>
	<key>API_KEY</key>
	<string>AIzaSyABglQ6RdpQjuD6SjXpLiGP_9T4EU4NStI</string>
	<key>GCM_SENDER_ID</key>
	<string>558295029611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.f30Bootcamp</string>
	<key>PROJECT_ID</key>
	<string>ecopazar-f30</string>
	<key>STORAGE_BUCKET</key>
	<string>ecopazar-f30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558295029611:ios:93ffc93670a9bfaf3e9e2e</string>
</dict>
</plist>